//====================================================================================================
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.course {
	background: url('@img/course/course-bg.jpg') center / cover no-repeat;

	// .course__container
	&__container {
		position: relative;
		min-height: 100dvh;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}

	// .course__card
	&__card {
		margin-right: rem(103);
		max-width: rem(500);
		min-height: rem(690);
		padding: rem(32);
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(rem(20));
		position: relative;
		display: flex;
		flex-direction: column;
		gap: rem(16);
		@media (max-width: $tablet) {
			margin-right: 0;
		}
	}

	// .course__title
	&__title {
		font-family: $fontInstrument;
		font-size: rem(64);
		line-height: 1em;
		letter-spacing: -0.02em;
		color: $background;
		margin: 0;
		text-wrap: balance;
	}

	// .course__description
	&__description {
		font-size: rem(18);
		line-height: 1.6;
		letter-spacing: -0.02em;
		color: $background;
		display: flex;
		flex-direction: column;
		gap: rem(16);
		flex-grow: 1;
	}

	// .course__btn
	&__btn {
		background-color: $background;
		color: $foreground;
		align-self: flex-start;
		width: rem(233);
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
	// .course__badge
	&__badge {
		position: absolute;
		top: rem(-24);
		right: rem(-16);
		background-color: #f5c0bf;
		border-radius: 50%;
		@include adaptiveValue('width', 110, 80);
		@include adaptiveValue('height', 110, 80);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(10);
		color: rgba(68, 9, 8, 1);
		text-align: center;
		font-family: $fontInstrument;
		line-height: 1em;
		letter-spacing: -0.02em;
		@include adaptiveValue('font-size', 32, 24);

		@media (max-width: $mobile) {
		}
	}

	&__img {
		position: absolute;
		top: rem(50);
		left: rem(58);

		@include adaptiveValue('width', 208, 150);
		@include adaptiveValue('height', 208, 150);
		z-index: 2;

		@media (max-width: rem(1400)) {
			top: rem(15);
			left: initial;
			right: rem(15);
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}
