//====================================================================================================
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.hero {
	// @include adaptiveValue('gap', 156, 100, 1300, 1024);
	display: flex;
	align-items: center;
	@media (max-width: $tablet) {
		flex-direction: column;
	}
	&__container {
		width: 100%;

		@media (max-width: $tablet) {
			width: auto;
		}
	}
	&__images {
		max-width: rem(826);
		position: relative;
		width: 100%;
		height: 100%;

		@media (max-width: $tablet) {
			display: flex;
			justify-content: center;
			max-width: 100%;
		}

		@media (max-width: $mobile) {
			max-width: 100%;
         flex-direction: column;
		}


	}

	&__img {
		width: 100%;
		height: auto;
	}

	&__img--first {
		max-width: rem(657);
		@include adaptiveValue('max-width', 657, 425, 1480, 1024, 2);

		@media (max-width: $tablet) {
			max-width: 100%;
		}
	}

	&__img--second {
		max-width: rem(500);
		position: relative;
		z-index: 1;
		margin-top: rem(-590);
		margin-left: rem(323);
		@media (max-width: rem(1480)) {
			@include adaptiveValue('margin-top', -590, -375, 1480, 1024);
			@include adaptiveValue('margin-left', 323, 200, 1480, 1024);
			@include adaptiveValue('max-width', 500, 300, 1480, 1024);
		}

		@media (max-width: $tablet) {
			max-width: 100%;
			margin-top: 0;
			margin-left: 0;
			position: static;
			z-index: auto;
		}
	}

	&__content {
		max-width: rem(584);
		margin-right: rem(142);
		padding-block: rem(104);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-wrap: balance;
		@include adaptiveValue('margin-right', 142, 0, 1920, 1024);
		margin-left: auto;
		@include adaptiveValue('max-width', 584, 490, 1920, 1024);

		@include adaptiveValue('padding-block', 104, 20);
		@include adaptiveValue('gap', 48, 20);
	}

	&__title {
		font-family: $fontInstrument;
		@include adaptiveValue('font-size', 130, 90, 1920, 1024, 3);

		line-height: 1em;
		letter-spacing: -0.02em;
		margin: 0;
		text-align: center;

		span {
			position: relative;
			font-family: $fontBoston;
			&::before {
				content: '';
				width: 250px;
				height: 250px;
				position: absolute;
				top: 46%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: url('@img/icons/lines.svg') center no-repeat;
			}
		}
	}

	&__description {
		text-align: center;
		font-size: rem(18);
		line-height: 1.27;
		letter-spacing: -0.02em;
		max-width: rem(510);
	}

	&__btn {
		max-width: rem(223);
		width: 100%;
		margin-inline: auto;
	}
}
.btn {
}
