//====================================================================================================
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.logos {
	@include adaptiveValue('padding-block', 100, 60);
	@include adaptiveValue('padding-inline', 60, 20);
	background-color: #f7cd6c;

	&__container {
		display: flex;
		align-items: center;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		@include adaptiveValue('gap', 70, 40);
		width: 100%;
		align-items: center;
		@media (max-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
}
