//====================================================================================================
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

//----------------------------------------------
.soon {
   background-color: #E8A9E0;

   @media (max-width: $mobile) {
      padding-bottom: rem(60);
   }

   &_about {
      background-image: url('@img/soon/soon-bg-about.jpg');
   }

   &__container {}

   &__content {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      @include adaptiveValue('gap', 79, 24, );
      min-height: rem(454);
      width: 100%;

      @media (max-width: $mobile) {
         flex-direction: column;
      }
   }

   &__image {
      @include adaptiveValue("margin-left", -300, -200, 1920, 767.98);

      @media (max-width: $mobile) {
         @include adaptiveValue("margin-left", -300, -75);
      }

      img {
         width: 100%;
         height: auto;
      }
   }

   &__text {
      margin-left: rem(-180);
      display: flex;
      flex-direction: column;
      gap: rem(16);
      // max-width: rem(544);

      align-items: center;
      // @include adaptiveValue('margin-left', 150, 0, 1920, 767.98);

      @media (max-width: $mobile) {
         margin-left: 0;

      }
   }

   &__label {
      font-size: rem(19);
   }

   &__title-wrapper {
      display: flex;
      align-items: center;
      gap: rem(16);
   }

   &__title {
      font-family: $fontInstrument;
      font-size: rem(48);
   }

   &__btn {
      height: fit-content;
      white-space: nowrap;
      min-width: fit-content;

      svg {
         min-width: fit-content;
      }
   }

   &__info {}
}